@import "bootstrap/dist/css/bootstrap.min.css";

.header {
  background-color: #891652;
  color: #FFFF;
}

.user-details {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
}

.error{
    font-size: 12px;
    color:red
}
